@model List<Testimonial>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <div class="row align-items-center">
        <div class="col-8">
            <h3 class="mb-0">Referans Listeleme Sayfası</h3>
        </div>
        <div class="col-4 text-right">
            <a asp-action="AddTestimonial" asp-controller="Testimonial" class="btn btn-sm btn-primary">Yeni Referans EKle</a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ad Soyad</th>
                <th scope="col">Şirket Adı</th>
                <th scope="col">Başlık</th>
                <th scope="col">Resim Yolu</th>
                <th scope="col">Düzenle</th>
                <th scope="col">Sil</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <th>@i.TestimonialID</th>
                    <td>  @i.Name </td>
                    <td>  @i.Company </td>
                    <td>  @i.ImageUrl </td>
                    <td>  @i.Title </td>
                    <td>  @i.ImageUrl </td>
                    <td> <a asp-action="EditTestimonial" asp-controller="Testimonial" asp-route-id="@i.TestimonialID" class="btn btn-success">Düzenle</a></td>
                    <td> <a asp-action="DeleteTestimonial" asp-controller="Testimonial" asp-route-id="@i.TestimonialID" class="btn btn-danger">Sil</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>